{ns zen.tests.effects-test
 import #{zen.test}

 not-fx
 {}

 only-one
 {:zen/tags #{zen/schema-fx zen/schema}
  :type     zen/vector
  :every    {:type zen/keyword}}

 subj
 {:zen/tags #{zen/schema}
  :type     zen/map
  :keys     {:name  {:type zen/string}
             :email {:type zen/string}}
  only-one [:name :email]}

 schema-with-good-fx
 {:zen/tags #{zen/schema}
  :type     zen/map
  only-one  [:name :email]}

 schema-with-good-fx&bad-arg
 {:zen/tags #{zen/schema}
  :type     zen/map
  only-one  1}

 schema-with-bad-fx
 {:zen/tags #{zen/schema}
  :type     zen/map
  not-fx    :args}

 fx-schema-test
 {:zen/tags #{zen.test/case}
  :title "fx is tagged with zen/schema-fx"
  :only-for #{:v2}
  :steps
  [{:desc "Fx is tagged and schema is correct"
    :do {:type zen.test/validate-schema
         :schema schema-with-good-fx}
    :match {:errors zen.test/empty?}}

   {:desc "Fx is tagged but args have errors, schema is incorrect"
    :do {:type zen.test/validate-schema
         :schema schema-with-good-fx&bad-arg}
    :match {:errors
            [{:type "vector.type"
              :message "Expected type of 'vector, got 'long"
              :path [zen.tests.effects-test/only-one]
              :schema [zen/schema :keyname-schemas zen.tests.effects-test/only-one :type]}]}}

   {:desc "Fx is not tagged, schema is incorrect"
    :do {:type zen.test/validate-schema
         :schema schema-with-bad-fx}
    :match {:errors
            [{:type "unknown-key"
              :message "unknown key zen.tests.effects-test/not-fx"
              :path [zen.tests.effects-test/not-fx]}]}}]}

 fx-tests
 {:zen/tags #{zen.test/case}
  :only-for #{:v2}
  :title "effect is emitted"
  :steps
  [{:desc "FX emit"
    :do {:type zen.test/validate
         :schema subj
         :data {:name "somename" :email "somemail@mail.com"}}
    :match {:errors zen.test/nil?
            :effects
            [{:name   zen.tests.effects-test/only-one
              :path   [zen.tests.effects-test/only-one]
              :data   {:name "somename" :email "somemail@mail.com"}
              :params [:name :email]}]}}]}}
