{:ns zen.tests.routing-test

 op-engine
 {:zen/tags #{zen/tag}
  :zen/desc "tag for op engines"}

 op
 {:zen/tags   #{zen/tag zen/schema}
  :type       zen/map
  :require    #{:engine}
  :schema-key {:key :engine}
  :keys       {:engine {:type zen/symbol :tags #{op-engine}}}}

 .api-op
 {:zen/tags #{zen/schema}
  :type zen/case
  :case [{:when {:type zen/symbol} :then {:type zen/symbol :tags #{op}}}
         {:when {:type zen/map} :then {:type zen/map
                                       :confirms #{op}}}]}

 api
 {:zen/tags #{zen/tag zen/schema}
  :type zen/map
  :values {:confirms #{api}}
  :keys {:apis   {:type zen/set :every {:type zen/symbol :tags #{api}}}
         :GET    {:confirms #{.api-op}}
         :POST   {:confirms #{.api-op}}
         :PUT    {:confirms #{.api-op}}
         :DELETE {:confirms #{.api-op}}
         :PATCH  {:confirms #{.api-op}}}
  :key {:type zen/case
        :case [{:when {:type zen/string}
                :then {:type zen/string}}
               {:when {:type zen/vector}
                :then {:type zen/vector
                       :every {:type zen/keyword}
                       :minItems 1
                       :maxItems 1}}]}}

 engine
 {:zen/tags #{op-engine zen/schema}}

 myop
 {:zen/tags #{op}
  :engine engine}

 other-api
 {:zen/tags #{api}
  :DELETE myop}

 myapi
 {:zen/tags #{api}
  :apis     #{other-api}
  :GET      myop
  "$export" {:POST myop
             [:id] {:GET myop}}
  [:id]     {:GET myop
             "Patient" {:GET myop}}}}
