{ns zen.integer-test

 import #{zen.test}

 m1
 {:zen/tags #{zen/schema}
  :type zen/map
  :require #{:key1}
  :keys {:key1 {:type zen/string}
         :key2 {:type zen/string}}}

 simple-test
 {:zen/tags #{zen.test/case}
  :title "Type validation in map"
  :steps
  [{:desc "test type validation in map"
    :do {:type zen.test/validate :schema m1 :data {:key1 1 :key2 true}}
    :match
    {:errors [{:path [:key1]
               :message "Expected type 'zen/string got class java.lang.Long"}
              {:path [:key2]
               :message "Expected type 'zen/string got class java.lang.Boolean"}]}}]}}
