{ns zen.string-test
 require {test zen.test}

 model
 {:zen/tags #{zen/schema}
  :type zen/map
  :keys {:minLength {:type zen/string
                     :minLength 5}

         :maxLength {:type zen/string
                     :maxLength 5}

         :regex     {:type zen/string
                     :regex "[a-z]*"}}}

 }
