{ns test-env

 schema
 {:zen/tags #{zen/schema zen/tag}
  :type zen/map
  :keys {:string {:type zen/string}
         :int    {:type zen/integer}
         :sym    {:type zen/symbol}
         :key    {:type zen/keyword}
         :num    {:type zen/number}
         :bool-true {:type zen/boolean}
         :bool-false {:type zen/boolean}
         }}

 model
 {:zen/tags #{schema }
  :string #env ESTR
  :home #env HOME
  :int    #env-integer EINT
  :sym    #env-symbol ESYM
  :key    #env-keyword EKEY
  :num    #env-number ENUM
  :bool-true #env-boolean BOOL_TRUE
  :bool-false #env-boolean BOOL_FALSE

  :dstring     #env [UPS "DS"]
  :dhome       #env [UPS "DH"]
  :dint        #env-integer [UPS 4]
  :dsym        #env-symbol [UPS sym]
  :dkey        #env-keyword [UPS :key]
  :dnum        #env-number [UPS 4.0]
  :dbool-true  #env-boolean [UPS true]
  :dbool-false #env-boolean [UPS false]
  }


 }
