{:tasks {repl                 {:doc "Run repl"
                               :task (clojure "-A:test -M:nrepl")}
         pom                  {:doc "Generate pom.xml file"
                               :task (clojure "-X:deps mvn-pom")}
         outdated             {:doc  "Check outdated libraries"
                               :task (clojure " -Sdeps '{:deps {com.github.liquidz/antq {:mvn/version \"RELEASE\"}}} '-M -m antq.core ")}

         lint                 {:doc  "Lint source code"
                               :task (clojure "-Sdeps '{:deps {clj-kondo/clj-kondo {:mvn/version \"RELEASE\"}}} '-m clj-kondo.main --lint src:test --parallel --fail-level error")}

         test                 {:doc  "Run tests"
                               :task (clojure "-M:test:kaocha")}

         test-ci              {:doc  "Run CI tests"
                               :task (clojure "-M:test:kaocha --skip zen.dev-test --skip zen.package-test --skip zen.cli-test")}

         }}
