{:paths ["src" "pkg"]

 :lib "zen-lang/zen"
 :version "0.0.1-SNAPSHOT"

 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        borkdude/edamame     {:mvn/version "1.0.16"}
        hawk/hawk            {:mvn/version "0.2.11"}
        healthsamurai/matcho {:mvn/version "0.3.10"}}

 :aliases
 {:nrepl
  {:extra-paths []
   :extra-deps {org.clojure/tools.nrepl       {:mvn/version "0.2.13"}
                org.clojure/core.rrb-vector   {:mvn/version "0.1.2"}
                cider/cider-nrepl             {:mvn/version "0.29.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}

   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "nrepl.cmdline"
                 "-b" "0.0.0.0"
                 "--middleware"
                 "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

  :profile {:extra-paths ["test"]
            :jvm-opts ["-Djdk.attach.allowAttachSelf"
                       "-XX:+UnlockDiagnosticVMOptions"
                       "-XX:+DebugNonSafepoints"]
            :extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                         com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}}}
  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.76.1230"}}
   :extra-paths ["runner" "test"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner" "--config-file" "kaocha.edn"]}

  :build-pm
  {:extra-paths ["build"]
   :ns-default build.zen
   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :extra-deps {io.github.clojure/tools.build {:git/url "https://github.com/clojure/tools.build"
                                               :sha "984a24c0ef0a6af3f304b567adb45af40baefd08"}}}
  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "target/zen.jar"]}}}
