{:paths ["src" "pkg"]

 :lib "zen-lang/zen"
 :version "0.0.1-SNAPSHOT"

 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        borkdude/edamame     {:mvn/version "0.0.19"}
        hawk/hawk            {:mvn/version "0.2.11"}
        healthsamurai/matcho {:mvn/version "0.3.9"}}

 :aliases
 {:nrepl
  {:extra-paths []
   :extra-deps {org.clojure/tools.nrepl       {:mvn/version "0.2.13"}
                org.clojure/core.rrb-vector   {:mvn/version "0.0.13"}
                cider/cider-nrepl             {:mvn/version "LATEST"}
                refactor-nrepl/refactor-nrepl {:mvn/version "LATEST"}}

   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "nrepl.cmdline"
                 "-b" "0.0.0.0"
                 "--middleware"
                 "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

  :profile {:extra-paths ["test"]
            :jvm-opts ["-Djdk.attach.allowAttachSelf"
                       "-XX:+UnlockDiagnosticVMOptions"
                       "-XX:+DebugNonSafepoints"]
            :extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                         com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}}}

  :outdated {:extra-deps {olical/depot {:mvn/version "1.7.0"}}
             :main-opts ["-m" "depot.outdated.main"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha  {:mvn/version "1.0-612"}}
   :extra-paths ["runner" "test"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner" "--config-file" "test/test.edn"]}

  :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                   :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
           :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
           :main-opts ["-m" "test-runner"]}

  :build
  {:extra-paths ["build"]
   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :extra-deps {cambada/cambada {:git/url "https://github.com/HealthSamurai/cambada"
                                 :sha     "a8ccf922e516e3249e96ae63dadd91d5f01e83f5"}}
   :main-opts  ["-m" "build"]}

  :depstar {:extra-deps
            {seancorfield/depstar {:mvn/version "1.1.133"}}
            :ns-default hf.depstar
            :exec-args {}}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "target/zen.jar"]}}}
