#kaocha/v1
{:fail-fast?                  false
 :color?                      true
 ;; :reporter                 [kaocha.report/dots]
 ;;:reporter                  [kaocha.report.progress/report]
 :reporter                    [kaocha.report/documentation]

 :plugins                     [:hooks
                               ;; :kaocha.plugin/filter
                               ;; :kaocha.plugin/capture-output
                               :kaocha.plugin/print-invocations
                               :kaocha.plugin/profiling]

 :kaocha.plugin.randomize/randomize? false
 :kaocha.plugin.profiling/profiling? true}
