{ns myapp
 import #{auth auth.op zen.http zen.pg zen.fhir.Patient}

 User {types #{zen/schema}
       :isa #{auth/User}
       :keys {:avatar {:isa #{zen/string}}}}

 UserStore {types #{zen.pg/jsonb-store}
            :schema User}

 UserSearch {types #{zen.http/search}
             :search-params {:name {:sql "resource->>'name' ilike {{params.value}}"}}}

 UserApi {types #{zen.op/crud-api}
          :store UserStore}

 login-op {types #{auth.op/login-op}
           :session {}
           :user {}}

 index-op {types #{zen.http/static-resource}
           :resource "index.html"}

 api {types #{zen.http/api}
      :api {:get index-op
            :import #{UserApi zen.fhir.Patient/crud-api}
            "admin" {:mount #{zen.http/store-api}
                     "meta-store" {:get zen.http/metastore-op}}}}

 main {types #{zen.http/server}
       :port 8080
       :api api}}
