{:zen.fhir/version "0.6.12-1",
 :confirms #{hl7-fhir-r4-core.DomainResource/schema zen.fhir/Resource},
 :zen/tags #{zen/schema zen.fhir/base-schema},
 :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/Patient",
 :zen/file
 "/Users/ross/Desktop/HS/zen/test/test_project/zen-packages/hl7-fhir-r4-core/zrc/hl7-fhir-r4-core/Patient.edn",
 :type zen/map,
 :zen/desc
 "Demographics and other administrative information about an individual or animal receiving care or other health-related services.",
 :zen/name hl7-fhir-r4-core.Patient/schema,
 :keys
 {:_active {:confirms #{hl7-fhir-r4-core.Element/schema}},
  :address
  {:type zen/vector,
   :every
   {:confirms #{hl7-fhir-r4-core.Address/schema}, :fhir/flags #{:SU}, :zen/desc "An address for the individual"}},
  :managingOrganization
  {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
   :fhir/flags #{:SU},
   :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Organization/schema}},
   :zen/desc "Organization that is the custodian of the patient record"},
  :name
  {:type zen/vector,
   :every
   {:confirms #{hl7-fhir-r4-core.HumanName/schema},
    :fhir/flags #{:SU},
    :zen/desc "A name associated with the patient"}},
  :_gender {:confirms #{hl7-fhir-r4-core.Element/schema}},
  :birthDate
  {:confirms #{hl7-fhir-r4-core.date/schema}, :fhir/flags #{:SU}, :zen/desc "The date of birth for the individual"},
  :_birthDate {:confirms #{hl7-fhir-r4-core.Element/schema}},
  :multipleBirth
  {:fhir/polymorphic true,
   :type zen/map,
   :exclusive-keys #{#{:integer :boolean}},
   :keys
   {:boolean {:confirms #{hl7-fhir-r4-core.boolean/schema}},
    :_boolean {:confirms #{hl7-fhir-r4-core.Element/schema}},
    :integer {:confirms #{hl7-fhir-r4-core.integer/schema}},
    :_integer {:confirms #{hl7-fhir-r4-core.Element/schema}}},
   :zen/desc "Whether patient is part of a multiple birth"},
  :deceased
  {:fhir/polymorphic true,
   :type zen/map,
   :exclusive-keys #{#{:dateTime :boolean}},
   :keys
   {:boolean {:confirms #{hl7-fhir-r4-core.boolean/schema}},
    :_boolean {:confirms #{hl7-fhir-r4-core.Element/schema}},
    :dateTime {:confirms #{hl7-fhir-r4-core.dateTime/schema}},
    :_dateTime {:confirms #{hl7-fhir-r4-core.Element/schema}}},
   :fhir/flags #{:SU :?!},
   :zen/desc "Indicates if the individual is deceased or not"},
  :photo
  {:type zen/vector, :every {:confirms #{hl7-fhir-r4-core.Attachment/schema}, :zen/desc "Image of the patient"}},
  :link
  {:type zen/vector,
   :every
   {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
    :type zen/map,
    :keys
    {:other
     {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
      :fhir/flags #{:SU},
      :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema hl7-fhir-r4-core.RelatedPerson/schema}},
      :zen/desc "The other patient or related person resource that the link refers to"},
     :type
     {:confirms #{hl7-fhir-r4-core.code/schema},
      :fhir/flags #{:SU},
      :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.link-type/value-set, :strength :required},
      :zen/desc "replaced-by | replaces | refer | seealso"},
     :_type {:confirms #{hl7-fhir-r4-core.Element/schema}}},
    :require #{:other :type},
    :fhir/flags #{:SU :?!},
    :zen/desc "Link to another patient resource that concerns the same actual person"}},
  :active
  {:confirms #{hl7-fhir-r4-core.boolean/schema},
   :fhir/flags #{:SU :?!},
   :zen/desc "Whether this patient's record is in active use"},
  :communication
  {:type zen/vector,
   :every
   {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
    :type zen/map,
    :keys
    {:language
     {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
      :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.languages/value-set, :strength :preferred},
      :zen/desc "The language which can be used to communicate with the patient about his or her health"},
     :preferred {:confirms #{hl7-fhir-r4-core.boolean/schema}, :zen/desc "Language preference indicator"},
     :_preferred {:confirms #{hl7-fhir-r4-core.Element/schema}}},
    :require #{:language},
    :zen/desc "A language which may be used to communicate with the patient about his or her health"}},
  :identifier
  {:type zen/vector,
   :every
   {:confirms #{hl7-fhir-r4-core.Identifier/schema}, :fhir/flags #{:SU}, :zen/desc "An identifier for this patient"}},
  :telecom
  {:type zen/vector,
   :every
   {:confirms #{hl7-fhir-r4-core.ContactPoint/schema},
    :fhir/flags #{:SU},
    :zen/desc "A contact detail for the individual"}},
  :generalPractitioner
  {:type zen/vector,
   :every
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :zen.fhir/reference
    {:refers
     #{hl7-fhir-r4-core.PractitionerRole/schema
       hl7-fhir-r4-core.Organization/schema
       hl7-fhir-r4-core.Practitioner/schema}},
    :zen/desc "Patient's nominated primary care provider"}},
  :gender
  {:confirms #{hl7-fhir-r4-core.code/schema},
   :fhir/flags #{:SU},
   :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.administrative-gender/value-set, :strength :required},
   :zen/desc "male | female | other | unknown"},
  :maritalStatus
  {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
   :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.marital-status/value-set, :strength :extensible},
   :zen/desc "Marital (civil) status of a patient"},
  :contact
  {:type zen/vector,
   :every
   {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
    :type zen/map,
    :keys
    {:relationship
     {:type zen/vector,
      :every
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :zen.fhir/value-set
       {:symbol hl7-fhir-r4-core.value-set.patient-contactrelationship/value-set, :strength :extensible},
       :zen/desc "The kind of relationship"}},
     :name {:confirms #{hl7-fhir-r4-core.HumanName/schema}, :zen/desc "A name associated with the contact person"},
     :telecom
     {:type zen/vector,
      :every {:confirms #{hl7-fhir-r4-core.ContactPoint/schema}, :zen/desc "A contact detail for the person"}},
     :address {:confirms #{hl7-fhir-r4-core.Address/schema}, :zen/desc "Address for the contact person"},
     :gender
     {:confirms #{hl7-fhir-r4-core.code/schema},
      :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.administrative-gender/value-set, :strength :required},
      :zen/desc "male | female | other | unknown"},
     :_gender {:confirms #{hl7-fhir-r4-core.Element/schema}},
     :organization
     {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
      :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Organization/schema}},
      :zen/desc "Organization that is associated with the contact"},
     :period
     {:confirms #{hl7-fhir-r4-core.Period/schema},
      :zen/desc
      "The period during which this contact person or organization is valid to be contacted relating to this patient"}},
    :zen/desc "A contact party (e.g. guardian, partner, friend) for the patient"}}},
 :zen.fhir/type "Patient"}