{ns auth

 User {types zen/schema
       :confirms #{zen/resource}
       :keys {:login {:type zen/string}
              :password {:type zen/string}}}

 Client {types zen/schema
         :confirms #{zen/resource}
         :keys {:secret {:type zen/string}}}

 Session {types zen/schema
          :confirms #{zen/resource}
          :keys {:user {:confirms #{zen/reference}}
                 :token {:type zen/string}
                 :started_at {:type zen/datetime}}}

 JWTIntrospector {types zen/schema
                  :keys {:public-key {:type zen/string}}}}
