{ns zen

 :zen/tag {:zen/tags #{:zen/tag}
           :zen/desc "register keyword as a tag"}

 :zen/schema {:zen/tags #{:zen/tag}
              :zen/desc "label resource as zen/schema"
              :schema schema}

 :zen/property {:zen/tags #{:zen/tag}
                :zen/desc "register tag as a property - i.e. global key with schema"}

 desc {:zen/tags #{:zen/property :zen/schema}
        :type string}

 name {:zen/tags #{:zen/property :zen/schema}
       :type symbol}

 ;; ctx {:zen/tags #{:zen/schema}
 ;;      :zen/desc "schema for meta-store context"
 ;;      :keys {:tags {:type map :value {:type map :confirms #{tag}}}
 ;;             :symbols {:type map}}}

 tags {:zen/tags #{:zen/property :zen/schema}
       :type zen/set
       :every {:type keyword}}


 string    {:zen/tags #{:zen/primitive :zen/schema}
            :zen/desc "sring primitive type"
            :type map
            :keys {:minLength {:type integer
                               :min 0
                               :desc "inclusive minimal length of string"}
                   :maxLength {:type integer :min 0}
                   :regex     {:type regex}}}

 regex    {:zen/tags #{:zen/schema :zen/primitive}
           :zen/desc "regexp primitive type"
           :type map}


 integer   {:zen/tags #{:zen/primitive :zen/schema}
            :zen/desc "integer primitive type"
            :type map
            :keys {:min {:type integer}
                   :max {:type integer}}}

 number    {:zen/tags #{:zen/primitive :zen/schema}
            :zen/desc "number primitive type"
            :type map
            :keys {:min {:type number}
                   :max {:type number}}}

 date      {:zen/tags #{:zen/primitive :zen/schema}
            :type map
            :keys {:in-past   {:type boolean}
                   :in-future {:type boolean}}}

 datetime  {:zen/tags #{:zen/primitive :zen/schema}
            :type map
            :keys {:in-past {:type boolean}
                   :in-future {:type boolean}}}

 boolean   {:zen/tags #{:zen/primitive :zen/schema}
            :type map}

 symbol    {:zen/tags #{:zen/primitive :zen/schema}
            :type map}

 keyword   {:zen/tags #{:zen/primitive :zen/schema}
            :type map}

 union-key {:zen/tags #{:zen/primitive :zen/schema}
            :type map}

 coll      {:zen/tags #{:zen/coll :zen/schema}
            :type map
            :keys {:every {:type map :confirms #{schema}}
                   :minItems {:type integer :min 0}
                   :maxItems {:type integer :min 0}}}

 set       {:zen/tags #{:zen/coll :zen/schema}
            :type map
            :confirms #{coll}}

 vector    {:zen/tags #{:zen/coll :zen/schema}
            :type map
            :confirms #{coll}}

 map       {:zen/tags #{:zen/coll :zen/schema}
            :type map
            :keys {:values {:type map :confirms #{schema}}}}

 schema   {:zen/tags #{:zen/schema}
           :zen/desc "zen schema"
           :type map
           :schema-key {:key :type}
           :keys {:type {:type symbol}
                  :confirms {:type set :every {:type symbol}}
                  :desc {:type string}

                  :schema-key {:type map
                               :keys {:key {:type keyword} :resolve {:type map :values {:type symbol}}}
                               :require #{:key}}
                  ;; part of map
                  :keys {:type map
                         :values {:type map
                                  :confirms #{schema}
                                  :keys {:type {:type symbol}}}}
                  :require {:type set :every {:type keyword}}}
           :require [:type]}

 resource {:zen/tags #{:zen/schema}
           :type map
           :keys {:id {:type string}
                  :resourceType {:type string}}}

 reference {:zen/tags #{:zen/schema}
            :type map
            :keys {:id {:type string}
                   :resourceType {:type string}}}


 op {:zen/tags #{:zen/schema}
     :desc "Operaration"
     :type map}}
